html, body {
    background-color: burlywood;
}

h1 {
    color: maroon;
    text-align: center;
}

p {
    text-align: center;
}

div {
    margin: auto;
    height: 100px;
    width: 200px;
}

canvas {
    margin-top: 40px;
    margin-left: 360px;
    margin-right: 400px;
}

#helplink {
    text-align: left;
}

#one {
    border: 5px solid blue;
}
#two {
    border: 5px solid red;
}








/*
#trapezoid {
    border-bottom: 325px solid slategray;
    border-left: 24px solid transparent;
    border-right: 24px solid transparent;
    height: 40px;
    width: 70px;
}*/